/*_____________________________overall_________________________________*/



@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Raleway:ital,wght@0,400;0,600;1,400&display=swap');

* {padding:0; margin: 0;}
/* * {border: 1px solid red;} */


@media only screen and (min-width: 768px)
	{

}

@media only screen and (min-width: 1000px)
	{

}

html
	{
	background-color: #f9ffff;
	width: 100%;
 	line-height: 1.6;
	font-family: Raleway, sans-serif;
	font-weight:400;
	font-size: 16px;
	}

	h1 	{
		color: #007a99;
		font-family: Montserrat, sans-serif;
		font-size: 1.4rem;
		margin-top: .4rem;
		margin-left: 1rem;

		}
h1 a 	{
	color: #007a99;
	font-family: Montserrat, sans-serif;
	font-size: 1.4rem;
	margin-top: .4rem;
	}

h2, h2 a 	{
	color:#007a99;
	font-family: Montserrat, sans-serif;
	font-size: 1.3rem;
	word-wrap: break-word;
	margin-top: .4rem;

	}

h3, h3 a 	{
	color: #007a99;
	font-family: Montserrat, sans-serif;
	font-size: 1.1rem;
	}
a h2 :link,a h2 :visited,a h2 :active
	{
	color: #00ced1;
	}
h2 a:hover {color: #000080;}


p  a:link, p a:visited,  p a:active
	{
	color: #00cccc;
	font-size: 1.2rem;
	}
p a:hover {color: #000080;}

dd {
    margin-bottom: 1em;
}

nav a:link, nav a:visited, nav a:active
	{
	color: #000080;
	}
nav a:hover {color: #00cccc;}

button {
  background-color: #f9ffff;
  border: none;
	border-radius: .6rem;
  color: #00ced1;
  padding: .4rem;
  text-align: center;
  text-decoration: none;
  display: inline;
	float: right;
	font-family: Montserrat, sans-serif;
	font-size: 2.2rem;
  margin:  1rem auto 1rem auto;
}

.icon {
	border-radius: 3rem;
	padding: 1rem;
	}


.ullist
	{
		max-width: 30rem;
		height: min-content;
		margin: 1rem;
  	list-style-position: outside;
  	list-style-type: circle;
	}

figure
	{max-width: 30rem;
	height: min-content;
	background-color: #b0e0e6;
	border-top-left-radius: 3rem;
	border-top-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 3rem;
	padding: 1.4rem;
	margin-left: auto;
	margin-right: auto;
}

.figurelang
	{max-width: 45rem;}

figcaption
	{
	font-family: Montserrat, sans-serif;
	font-size: 1rem;
	font-weight:300;
	margin-left: 1rem;
}

.mySlides {display:none;}

.mySlides {display:none;}

.pinfo
	{
	color: #000080;
	font-family: Montserrat, sans-serif;
	font-size: 1.1rem;
	font-weight:600;
	}

.phome
	{
	color: #007a99;
	font-family: Montserrat, sans-serif;
	font-size: 1.3rem;
	font-weight:600;
	margin-top: 4px;
	}

.pkursivblau
	{
	font-family: Raleway, sans-serif;
	color:  #007a99;      /* #00cccc */
	font-size: 1.2rem;
	word-wrap: break-word;
	font-style: italic;
	margin: 1rem 1rem 1rem 1rem;
	}
.pkursiv
	{
	font-family: Raleway, sans-serif;
	font-size: 1.3rem;
	color: #00000f;
	font-weight:600;
	font-style: italic;
	}

.pright
	{
	float: right;
	margin-left: 1rem;
	margin-right: 1rem;

	}

.pleft
	{
	text-align: left;
	margin-left: 1rem;
	margin-right: 1rem;
	}

a 	{
	color: #000080;
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	font-size: 1rem;
	text-decoration: none;
	}

.linkblog
	{
	font-family: Raleway, sans-serif;
	color:#00cccc;
	font-size: 1.1rem;
	font-style: italic;
	}


img	{
	display: block;
	width: 100%;
	}

picture	{
	display: block;
	width: 100%;
	 }

.rund	{
	border-radius: 1rem;
	}



.article
	{
  max-width: 27rem;
	height: min-content;
	background-color: #d5f6ff;
	/*border: solid 1px #00cccc;*/
	border-top-left-radius: 2rem;
	border-top-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 2rem;
	padding: 1rem;
	margin: 0.5rem 0.5rem 1rem 0.5rem;
	}

.komentar
	{
	max-width: 27rem;
	height: min-content;
	background-color: #d5f6ff;

	border-top-right-radius: 2rem;
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 4rem;
	padding: 1rem;
	margin: 1rem;
	}

.tp
	{
	max-width: 80%;
	height: min-content;
	background-color: /*#d5f6ff;*/  #f3ffe6;
	border: solid 2px #3c98c7;
	border-top-left-radius: 1.6rem;
	border-top-right-radius: 1.6rem;
	border-bottom-left-radius: 1.6rem;
	border-bottom-right-radius: 1.6rem;
	padding: 1rem;
	margin:1rem;
	}

	.logobanner
		{
		background-image:url("bilder/schwim_logo_banner.svg");
		background-size: 100%;
		background-repeat: repeat;
		border-radius: 1rem;
		}



.banner
	{
	background-image:url("bilder/blog/banner_kontakt.jpg");
	background-size: cover;
	border-radius: 1rem;
	}

.banner1
	{
	background-image:url("bilder/beitrag.svg");
	background-size: cover;
	border-radius: 1.6rem;
	}

.banner2
	{
	background-image:url("bilder/home.svg");
	background-size: cover;
	border-radius: 1.6rem;
	}
	.banner3
		{
		background-image:url("bilder/grunewelle_banner.svg");
		background-size: cover;
		border-radius: 1.6rem;
		}

nav
	{
	background-color: #f6ffff;
	border-radius: .4rem;
	width: 100% ;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	}

/*-----------------------------------------------------------*/

@media only screen and (max-width: 768px)
	{
header
 	{
	/*background-color: #ccf2ff;
	border: solid 2px #ccf5ff;*/
	border-radius: .5rem;
	position: fixed;
	width: 80%;
	top: .2rem;
	margin-left: 10%;
	}

a 	{
	font-size: .9rem;
	}


main	{
	max-width: 100%;
	background-color:#ccf1f1;
	margin-top: 6rem;
	margin-bottom: 2rem;
	margin-right: auto;
	border-radius: 1.8rem;
	/*border: solid 8px #ccf1f1;*/
	}
footer
	{
	position: fixed;
	width: 80%;
	bottom: .4rem;
	left: 10%;
	}


.bild	{
	width: 160px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2px;
	}

	.fotobeitrag	{
		border-radius: 10%;
		width: 100%;
		}

	}


/*--------------------------------------------------------------------------*/

@media only screen and (min-width: 768px)
	{

header
 	{
	/*background-color: #ccf2ff;
	border: solid 2px #f5fffa;*/
	border-radius: .5rem;
	position: fixed;
	width: 40%;
	top: .3rem;
	margin-left: 30%;
	}


main	{
	max-width: 80%;
	background-color: #ccf1f1;
	padding-top: 1rem;
	margin-top: 7rem;
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3rem;
	/*border: solid 18px #ccf1f1;*/
	}

footer
	{
	position: fixed;
	width: 40%;
	bottom: .4rem;
	left: 30%;
	}

.bild	{
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4px;
	}
	.fotobeitrag	{
		border-radius: 10%;
		width: 42%;
		margin: 0 1rem 1rem 1rem;
		float: right;
		}
	}
/*-----------------------------------------------*/

/* @media only screen and (max-height: 812px)
	{

.bild 	{display: none;
	}
main	{
	margin-top: 2rem;
	}
	}
*/

/*-----------------------------------------------------*/
#walhai{}

#grunewelle{}

#haiflosse{}

#beitrag{}

#blasen
	{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	}


#mission
	{
	max-width: 80%;
	height: min-content;
	background-color: #e9ffff;
	border-top-left-radius: 1.6rem;
	border-top-right-radius: 1.6rem;
	border-bottom-left-radius: 1.6rem;
	border-bottom-right-radius: 1.6rem;
	padding: 1.6rem;
	margin: 1.4rem 0.5rem 1rem 0.5rem;
	}

#mission0
	{
	max-width: 27rem;
	height: min-content;
	background-color: #c2f0f0;
	border-top-left-radius: 3rem;
	border-top-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 3rem;
	padding: 1.6rem;
	margin: 0.5rem 0.5rem 1rem 0.5rem;
	}

#mission1
	{
	max-width: 27rem;
	height: min-content;
	background-color: #99e6e6;
	border-top-left-radius: 3rem;
	border-top-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 3rem;
	padding: 1.6rem;
	margin: 0.5rem 0.5rem 1rem 0.5rem;
	}

#mission2
	{
	max-width: 27rem;
	height: min-content;
	background-color: #70dbdb;
	border-top-left-radius: 1rem;
	border-top-right-radius: 3rem;
	border-bottom-left-radius: 3rem;
	border-bottom-right-radius: 1rem;
	padding: 1.6rem;
	margin: 0.5rem 0.5rem 1rem 0.5rem;
	}

#mission3
	{
	max-width: 27rem;
	height: min-content;
	background-color: #b0e0e6;
	border-top-left-radius: 3rem;
	border-top-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 3rem;
	padding: 1.6rem;
	margin: 0.5rem 0.5rem 1rem 0.5rem;
	}

#mission4
	{
	max-width: 48rem;
	height: min-content;
	background-color: #add8e6;
	border-top-left-radius: 1rem;
	border-top-right-radius: 3rem;
	border-bottom-left-radius: 3rem;
	border-bottom-right-radius: 1rem;
	padding: 1.6rem;
	margin: 0.5rem 0.5rem 1rem 0.5rem;
	}
	#mission5
		{
		max-width: 22rem;
		height: min-content;
		background-color: #d5f6ff;/*#b0e0e6;*/
		border-top-left-radius: 2rem;
		border-top-right-radius: 1rem;
		border-bottom-left-radius: 1rem;
		border-bottom-right-radius: 2rem;
		padding: 1.6rem;
		margin: 0.5rem 0.5rem 1rem 0.5rem;
		}

.preis
	{
	background-color: #f5fffa;
	max-width: 13rem;
	padding: 2px 10px;
	margin: .6rem;
	border-radius: .5rem;
  	display: block;
	}


	#table

		{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		gap:10px;
		}

		thead
			{
				/*border: 1px solid #3c98c7;*/
				text-align: center;
		    background-color: #f5fffa;
		    color: #000080;
			}

				tfoot {
					/*	border: 1px solid #3c98c7;*/
						text-align: center;
						background-color: #f5fffa;
				    color: #000080;
					}

		tbody {
		    background-color: #d5f6ff;
		}

		td,
		th {
		    border-style: none; /*: 1px solid #3c98c7;*/
				padding: 6px 6px;
		}

		td {
		    text-align: center;
		}


	table.style1
		{
		table-layout: auto;
		width: 13rem;
		border-collapse: collapse;
		border-spacing: 0;
		color: #000080;
		font-family: Montserrat, sans-serif;
		font-size: .8rem;
		font-weight:400;
}

table.style3
	{
		table-layout: auto;
		width: 100%;
	  border-collapse: collapse;
	  color: #000080;
	  font-family: Montserrat, sans-serif;
	  font-size: .8rem;
	  font-weight:400;
}

table.style3 tr td:nth-child(1) {width: 10%;}
table.style3 tr td:nth-child(2) {width: 5%;}
table.style3 tr td:nth-child(3) {width: 10%;}
table.style3 tr td:nth-child(4) {text-align: left;}


table.style3 thead { background-color: #e6e600;}
table.style3 tfoot { background-color: #e6e600;}

table.style3 tbody tr:nth-child(odd) {background-color:  #f3ffe6;}
table.style3 tbody tr:nth-child(even) {background-color:  #c2f0c2;}


table.style1 tr td:nth-child(1) {width: 10%;}
table.style1 tr td:nth-child(2) {width: 5%;}
table.style1 tr td:nth-child(3) {width: 10%;}
table.style1 tr td:nth-child(4) {text-align: right;}

table.style2
	{
	border-collapse: collapse;
	border: 2px solid #3b98c7;
	font-family: Raleway, sans-serif;
	font-size: 1.3rem;
	color: black;
	font-weight:600;
	font-style: italic;
}

.height
		{height: 1.2rem;
		}
